.container.container {
  max-width: 1320px;
}

.row {
  container-type: inline-size;
}

[class*="grid-container"] {
  container: grid-container / inline-size;
}

@container grid-container (width < 300px) {
  .grid-container-xs > * {
    flex-direction: column !important;
  }
}

@container grid-container (width < 575.98px) {
  .grid-container-sm > * {
    flex-direction: column !important;
  }
}

@container grid-container (width < 767.98px) {
  .grid-container-md > * {
    flex-direction: column !important;
  }
}

@container grid-container (width < 991.98px) {
  .grid-container-lg > * {
    flex-direction: column !important;
  }
}

@container grid-container (width < 1199.98px) {
  .grid-container-xl > * {
    flex-direction: column !important;
  }
}

@container grid-container (width < 1399.98px) {
  .grid-container-xxl > * {
    flex-direction: column !important;
  }
}