// 1. Include functions and vaiables first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 2. Include any default variable overrides here
@import "custom-variables";

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// 4. Include any default map overrides here (theme)
@import "theme";

// 5. Include remainder of required parts (optionally include any other parts as needed)
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// 6. Identified CoBank Components
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";

// 7. Helper classes go last to override
@import "../node_modules/bootstrap/scss/helpers";

// 8. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 9. Add additional custom code here

// Demo Code - NOT FOR PRODUCTION
@import "layout";
@import "demo";

:root {
  --fs-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.35rem);
  --fs-lg: clamp(1.56rem, 1vw + 1.31rem, 2rem);
  --fs-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.75rem);
  --fs-xxl: clamp(2.44rem, 2vw + 1.75rem, 3.5rem);
  --fs-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  --font-poppins: "Poppins";
  --font-dm-sans: "DM Sans";
  --bs-dark-rgb: 27, 27, 27;
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-base {
  font-size: var(--fs-base);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}

.fs-xxxl {
  font-size: var(--fs-xxxl);
}

html,
body {
  scroll-padding-top: 60px;
}

body {
  font-family: var(--font-dm-sans, var(--bs-body-font-family));
}

.main-content {
  overflow-x: hidden;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
.btn {
  font-family: var(--font-poppins);
  line-height: 1.1;
}


p {
  max-width: 82ch;
}

.navbar-toggler,
.nav-link,
.navbar-nav .nav-link.active,
.nav-links>* {
  color: currentColor;
}

.navbar-toggler .icon {
  font-size: var(--fs-lg, 2rem);
}

.btn {
  letter-spacing: 0.1em;
}

.img-fluid {
  flex: 1;
}

.process-cards {
  .col {
    max-width: 540px;
  }
}

.app-header {
  top: -1px;
}

.navbar,
.navbar .btn {
  transition: padding .3s ease;
  will-change: padding;
}

.navbar-brand img {
  transition: width .3s ease;
  will-change: width;
}

.navbar {
  background-color: rgba(17,5,21,1) !important;
  color: var(--bs-light);

  .container {
    transition: max-width .3s ease;
    will-change: max-width;
  }

  .nav-link:hover, 
  .nav-link:focus {
    background: var(--bs-link-color);
    color: var(--bs-light);
  }

}

.navbar-nav {
  --bs-nav-link-padding-y: 0;
}

.is-pinned {

  .navbar {
    padding-top: .75rem !important;
    padding-bottom: .5rem !important;

    .container {
      max-width: 100%;

      @media (width > 1400px) {
        max-width: 90lvw;
      }
    }

    .btn {
      padding: 6px 8px !important;

      span {
        font-size: 0.75rem;
      }
    }

    .nav-link {
      font-size: 0.9rem;
    }
  }

  .navbar-brand {
    margin-top: 0 !important;
  }

  .navbar-brand img, .navbar-brand svg {
    width: 6rem;
  }
}

.bg-wave {
  position: relative;
  background: linear-gradient(45deg, #3b415b 0%, #504860 100%);
  background: linear-gradient(125deg, #a2a2ff 5%, #0f0921 95%);
  overflow: hidden;
  z-index: -1;

  .container {
    position: relative;
    z-index: 5;
  }
}

.wave-wrap {
  mix-blend-mode: multiply;
  position: absolute;
  width: 100%;

  &:not(.wave-wrap-bottom) {
    top: 0;
    transform: rotate(180deg);
  }
}

.wave-wrap-bottom {
  top: auto;
  bottom: 0;
}

 .wave {
   background: url(https://static.onsitesupport.io/public/showcase/my-interface/bg-wave.png);
   background-size: 1000px 100px;
   bottom: 0;
   filter: invert(0.1) contrast(0.8);
   height: 100px;
   left: 0;
   mix-blend-mode: multiply;
   position: absolute;
   width: 100%;
}

.wave-1 {
  animation: wave 50s alternate infinite;
  opacity: 1;
  animation-delay: 0s;
  height: 100px;
  background-size: cover;
  z-index: 4;
}

.wave-2 {
  animation: wave2 75s alternate infinite;
  z-index: 3;
  opacity: 0.5;
  animation-delay: -5s;
  height: 120px;
  background-size: cover;
}

.wave-3 {
  animation: wave 60s alternate infinite;
  z-index: 2;
  opacity: 0.2;
  animation-delay: -12s;
  height: 130px;
  background-size: cover;
}

.wave-4 {
  animation: wave2 30s alternate infinite;
  z-index: 1;
  opacity: 0.5;
  animation-delay: -15s;
  height: 80px;
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

.slider-thumb {
  position: absolute;
  z-index: 0;
  top: 1rem;
  height: auto;
  left: 51%;
}

.slider-thumb::before {
	position: absolute;
	content: "";
	left: 35%;
	top: 10%;
	width: 600px;
	height: 480px;
	background: #17141d;
  background: linear-gradient(90deg,#e52e71,#ff8a00);
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 10s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 10s linear infinite;
}

@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

.hero {
  background: rgb(57,13,73);
  background: radial-gradient(circle, rgba(57,13,73,1) 0%, rgba(17,5,21,1) 30%);

  h1 {
    max-width: 15ch;
  }

  .img-fluid {
    filter: drop-shadow(0px 4px 30px rgba(0,0,0,0.4));
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
  }
  
  @media (width >= 1200px) {
    .img-fluid {
      min-width: 680px;
      position: relative;
      left: -7rem;
    }
  }
}

.design-process {
  background: linear-gradient(0deg, rgba(52,64,93,0) 58%, rgba(52,64,93,1) 80%) center top, url(https://static.onsitesupport.io/public/showcase/my-interface/bg-process.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;

  &:before {
    background: url("https://assets.codepen.io/97621/border-top-purple.svg") no-repeat center top;
    background-size: cover;
    content: "";
    height: 50px;
    position: absolute;
    top: -47px;
    width: 100%;
  }
}


.design-templates { 
  margin-top: -7rem;
  padding-top: 4rem;
  position: relative;
  z-index: 1;

  &:before {
    background: url("https://assets.codepen.io/97621/white-circle-border.svg") no-repeat center top;
    background-size: cover;
    content: "";
    height: 90px;
    position: absolute;
    top: -4rem;
    width: 100%;
  }

  @media (width >= 576px) {
    // margin-top: -3.75rem;
    // padding-top: 0;
  }
  
  @media (width >= 992px) {
    margin-top: -5.75rem;
    padding-top: 1rem !important;

    &:before {
      transform: rotate(-2.5deg);
      top: -6rem;
      width: 150%;
      transform-origin: center;
      height: 120px;
    }
  }

  @media (width >= 1200px) {
    margin-top: -9.75rem;
    padding-top: 1rem !important;

    &:before {
      transform: rotate(0);
      top: -4rem;
    }
  }
}

.lightbox {

  .ratio {
    overflow-y: scroll;
  }

  .img-fluid {
    object-fit: cover;
    object-position: top;
    padding: 2rem;
    width: 90% !important;
  }
}

.app-footer {
  position: relative;
  z-index: 2;

  &:before {
    background: url("https://assets.codepen.io/97621/border-top-black.svg") no-repeat center top;
    background-size: cover;
    content: "";
    height: 50px;
    position: absolute;
    top: -47px;
    width: 100%;
  }
}