// 1. Include functions and vaiables first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 2. Include any default variable overrides here
@import "custom-variables";

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// 4. Include any default map overrides here (theme)
@import "theme";

// 5. Include remainder of required parts (optionally include any other parts as needed)
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// 6. Identified CoBank Components
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";

// 7. Helper classes go last to override
@import "../node_modules/bootstrap/scss/helpers";

// 8. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 9. Add additional custom code here

// Demo Code - NOT FOR PRODUCTION
@import "layout";
@import "demo";

:root {
  --fs-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  --font-poppins: "Poppins";
  --font-dm-sans: "DM Sans";
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-base {
  font-size: var(--fs-base);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}

.fs-xxxl {
  font-size: var(--fs-xxxl);
}

body {
  font-family: var(--font-dm-sans, var(--bs-body-font-family));
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
.btn {
  font-family: var(--font-poppins);
}

p {
  max-width: 82ch;
}

.navbar-toggler,
.nav-link,
.navbar-nav .nav-link.active,
.nav-links>* {
  color: currentColor;
}

.navbar-toggler .icon {
  font-size: var(--fs-lg, 2rem);
}

.btn-primary {
  letter-spacing: 0.125em;
}

html,
body {
    scroll-padding-top: 65px;
}


.app-header {
  top: -1px;
}

.navbar,
.navbar .btn {
  transition: padding .3s ease;
  will-change: padding;
}

.navbar-brand img {
  transition: width .3s ease;
  will-change: width;
}

.is-pinned {

  .navbar {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;

    .btn {
      padding: 6px 8px !important;

      span {
        font-size: 0.75rem;
      }
    }

    .nav-link {
      font-size: 0.9rem;
    }
  }

  .navbar-brand img, .navbar-brand svg {
    width: 6rem;
  }
}